<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Stock Portfolio App</title>

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- Additional Styling -->
    {% block styling %}
    {% endblock %}
  </head>

  <body>
    <div class="grid-container">
      <header>
        <h1>Flask Stock Portfolio App</h1>
      </header>

      <div class="messages">
        <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
          <div class="flash-message flash-message-error"><p>{{ error_message }}</p></div>
        {% endfor %}

        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
          <div class="flash-message flash-message-success"><p>{{ success_message }}</p></div>
        {% endfor %}

        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
          <div class="flash-message flash-message-info"><p>{{ info_message }}</p></div>
        {% endfor %}

        {% for message in get_flashed_messages(category_filter=["message"]) %}
          <div class="flash-message"><p>{{ message }}</p></div>
        {% endfor %}
      </div>

      <div class="content">
        <!-- child template -->
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        <h3>testdriven.io 2020</h3>
      </footer>
    </div>
  </body>
</html>
