##########################################################
#
# This configuration file is intended for testing a Flask application.
#
##########################################################
import os


# Determine the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

# Flask Configuration
ENV = 'development'
DEBUG = True
TESTING = True
SECRET_KEY = 'BAD_SECRET_KEY_TESTING'
WTF_CSRF_ENABLED = False

# Database Configuration (SQLAlchemy)
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'test.db')
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 4
