/* Overall Styling
 *****************/
* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f1f3f5;
  font-family: segoe ui,helvetica neue,sans-serif;
  color: #345;
  overflow-x: hidden;
}


/* CSS Grid Styling
 ******************/
header {
  grid-area: header;
}
.messages {
  grid-area: messages;
}
.content {
  grid-area: content;
}
footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 35% 35% 10%;
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  max-width: 1080px;
  margin: auto;
  grid-template-areas:
    "header    header     header    header"
    "messages  messages   messages  messages"
    "...       content    content   ..."
    "footer    footer     footer    footer";
}


/* Header Styling
 ****************/
header {
  margin: auto;
}

header h1 {
  font-size: 2.5em;
}


/* Message Styling
 *****************/

.flash-message {
  width: 100%;
  margin-bottom: 15px;
  background: purple;
}

.flash-message p {
  padding: 15px;
  color: white;
  width: auto;
}

.flash-message-error {
  background: red;
}

.flash-message-success {
  background: green;
}

.flash-message-info {
  background: blue
}


/* Content Styling
 *****************/
.content {
  margin: auto;
}


/* Error Page Styling
 ********************/
.errorpage_title {
  text-align: center;
}

.errorpage_section {
  margin-top: 1em;
  text-align: center;
}


/* Validation Errors Styling
 ***************************/
.validation_error {
  color: red;
}

/* Footer Styling
 ****************/
footer {
  margin: auto;
}
