/* Stock List Styling
 ********************/
table {
  table-layout: fixed;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.action-row {
  display: flex;
}

button {
  padding: 4px;
  border-radius: 4px;
  font-size: 0.8em;
  margin: 0 2px;
}

.delete-button:hover {
  background-color: red;
  cursor: pointer;
}

button a {
  text-decoration: none;
}
