{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_stock_style.css') }}">
{% endblock %}

{% block content %}
<h2 class="add-stock-heading">Add a Stock:</h2>
<form method="post">
  {{ form.csrf_token }}

  {{ form.symbol.label }}
  {{ form.symbol }}
  {% for error in form.symbol.errors %}
    <span class="validation_error">[{{ error }}]</span>
  {% endfor %}
  <br>

  {{ form.shares.label }}
  {{ form.shares }}
  {% for error in form.shares.errors %}
    <span class="validation_error">[{{ error }}]</span>
  {% endfor %}
  <br>

  {{ form.price.label }}
  {{ form.price }}
  {% for error in form.price.errors %}
    <span class="validation_error">[{{ error }}]</span>
  {% endfor %}
  <br>

  <button>Submit</button>
</form>
{% endblock %}
